body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .neon-button {
    padding: 12px 20px;
    background-color: #0ff;
    color: #000;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 0px 8px #fff, 0px 0px 10px #fff, 0px 0px 12px #fff, 0px 0px 14px #0ff, 0px 0px 16px #0ff, 0px 0px 18px #0ff, 0px 0px 20px #0ff;
    border-radius: 30px;
    transition: background-color 0.3s;
  }
  
  
  h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  }
  
  .neon-text {
    font-size: 32px;
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 8px #fff, 0px 0px 10px #fff, 0px 0px 12px #fff, 0px 0px 14px #0ff, 0px 0px 16px #0ff, 0px 0px 18px #0ff, 0px 0px 20px #0ff;
  }
  
  
  .neon-button:hover {
    background-color: #0aa;
  }
  